* {
    margin: 0;
}
body {
    color: #fed03d;
    background-color: #000;
}
a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}
a:hover {
    color: #fed03d;
}
::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}
:-ms-input-placeholder {
    text-align: center;
}
.menu-top1 {
    width: 100%;
    display: none;
    background-color: #eee;
}
.menu-top2 {
    width: 100%;
    display: none;
    background-color: #ff00ff;
}
.menu-top3 {
    width: 100%;
    display: none;
    background-color: #ff0000;
}
.menu-top4 {
    width: 100%;
    display: none;
    background-color: #00ff00;
}
.menu-top5 {
    width: 100%;
    display: none;
    background-color: #000000;
}
.first-button {
    width: calc(100%/5);
    height: 40px;
    float: right;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 0 0 100px 100px;
    background-color: #fed03d;
}
.first-button img {
    margin-top: -4px;
    border-radius: none;
}
.second-button {
    width: calc(100%/5);
    height: 40px;
    color: #000;
    font-size: 1em;
    font-weight: bold;
    float: right;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    background-color: #ffee00;
    display: none;
}
.third-button {
    width: calc(100%/5);
    height: 40px;
    color: #000;
    font-size: 1em;
    font-weight: bold;
    float: right;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    background-color: #ffee00;
    display: none;
}
.fourth-button {
    width: calc(100%/5);
    height: 40px;
    color: #000;
    font-size: 1em;
    font-weight: bold;
    float: right;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    background-color: #ffee00;
    display: none;
}
.fifth-button {
    width: calc(100%/5);
    height: 40px;
    color: #000;
    font-size: 1em;
    font-weight: bold;
    float: right;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    background-color: #ffee00;
    display: none;
}
.search-box {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 350px;
}
.search-box input {
    width: 400px;
    height: 40px;
    font-size: 16px;
    color: #474747;
    border-radius: 20px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}
.solid-bar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    color: #fff;
    border-bottom: 2px solid #fed03d;
}
.solid-bar > span {
    font-size: 0.8em;
    padding-left: 8px;
}
.icon {
    width: 20px;
    height: 20px;
    font-style: normal;
    padding-left: 20px;
}
.icon img {
    max-width: 100%;
    min-height: 100%;
    display: block;
    font-size: 0;
    border: 1px solid #fed03d;
    background-color: #fff;
    border-radius: 10px;
}
.list-icon img {
    max-width: 100%;
    min-height: 100%;
    display: block;
    font-size: 0;
    border: 1px solid #fed03d;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 auto;
}
.solid-bar ul {
    margin: 0;
    width: 100%;
    display: contents;
}
.solid-bar ul > li {
    display: inline-block;
    padding-left: 0.5em;
    font-size: 0.8em;
}
.top-banner {
    width: 100%;
    height: 600px;
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    z-index: -1000;
    background-image: url("../img/top-banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 2px solid #fed03d;
    border-top: 2px solid #fed03d;
}
.top-banner img {
    width: 300px;
    margin: 0 auto;
    padding-bottom: 200px;
}
.msolid-bar {
    display: none;
}
.top-banner-button {
    text-align: center;
    display: block;
    top: -20px;
    position: relative;
}
.top-banner-button button {
    width: 200px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fed03d;
    cursor: pointer;
}
.top-banner-button button:hover {
    background-color: #fed03d;
    color: #000;
    border: 2px solid #fff;
    cursor: pointer;
}
.top-banner-button button:active {
    background-color: #fff;
    color: #fed03d;
    border: 2px solid #000;
}
.middle-list {
    margin: 0 auto;
    width: 70%;
    position: relative;
    top: 30px;
    margin-bottom: 50px;
}
.middle-list h2 {
    color: #000;
    background-color: #fed03d;
    width: 200px;
    text-align: center;
    border-style: dashed;
    border-bottom-style: none;
    border-top-right-radius: 30px;
    border-width: 2px;
}
.middle-list h2 a {
    color: #000;
}
.middle-list h4 a {
    color: #fed03d;
}
.web-map {
    border: 2px dashed #fed03d;
    margin: 0;
    padding: 20px;
    list-style-type: none;
    border-bottom: none;
    display: block;
}
.web-map:last-of-type {
    border-bottom: dashed;
}
.web-map li {
    color: #fff;
    display: inline-flex;
    align-items: center;
    height: 90px;
    line-height: 40px;
    padding-left: 20px;
}
.web-map li i {
    display: inline-block;
    margin: 0 auto;
    width: 50px;
    height: 0px;
    align-items: center;
    padding-bottom: 27px;
}
.web-map h4 {
    color: #fed03d;
    font-size: 1.5em;
}
.return-top-button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
}
.return-top-button ul {
    padding: 0;
    color: #000;
    border-radius: 25px;
}
.return-top-button li {
    padding: 0px;
    width: 50px;
    height: 50px;
    list-style: none;
    margin-bottom: 10px;
    background-color: #fed03d;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    opacity: 0.5;
}
.show-code {
    height: 110px;
    right: 70px;
    bottom: 50px;
    color: #fff;
    position: fixed;
    display: none;
}
.show-code ul {
    display: inline-flex;
}
.show-code li {
    margin-right: 10px;
}
.intro_wechat {
    width: 170px;
    height: 170px;
    background-color: #fff;
    position: absolute;
    top: -180px;
    left: 0px;
    display: none;
    border: 2px solid #fed03d;
    background: url("../img/wechatqrc.png");
}
.intro_alipay {
    width: 170px;
    height: 170px;
    background-color: #fff;
    position: absolute;
    top: -180px;
    left: 0px;
    display: none;
    border: 2px solid #fed03d;
    background: url("../img/alipayqrc.png");
}
.useful-links {
    margin-top: 300px;
    height: 40px;
    color: #fed03d;
    display: flex;
    align-items: center;
    background-color: #000;
    border-top: 2px solid #fed03d;
}
.useful-links img {
    height: 30px;
}
.useful-links ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 70%;
    display: initial;
    vertical-align: super;
}
.useful-links ul > li {
    display: inline-block;
    padding-right: 20px;
}
.useful-links ul ul {
    width: 100%;
}
.useful-links ul ul > li {
    display: block;
    padding: 0;
    float: right;
    margin-left: 40px;
}
/* pad css */
@media screen and (max-width:1024px) {
    .solid-bar {
        display: none;
        background-color: #fff;
    }
    .msolid-bar {
        display: block;
    }
    #rectangle-menu {
        position: relative;
        top: -10px;
        left: -10px;
    }
    .search-box input {
        width: 300px;
        height: 40px;
        border-radius: 20px;
    }
    .mcode-list {
        width: 100%;
        position: absolute;
        display: block;
        flex: auto;
        top: 40px;
        z-index: 1;
        padding: 0px;
        opacity: 0;
    }
    .mcode-list li {
        border-bottom: 1px solid #fed03d;
        display: grid;
        position: relative;
        height: 40px;
        text-align: center;
        padding: 0px;
        align-items: center;
        background-color: #000;
        color: #fed03d;
    }
    .mcode-list li:hover {
        background-color: #fed03d;
        color: #000;
    }
    .top-banner {
        top: -15px;
    }
    .top-banner-button {
        top: -35px;
    }
}
/* mobile css */
@media screen and (max-width:640px) {
    .solid-bar {
        display: none;
        background-color: #fff;
    }
    .msolid-bar {
        display: block;
    }
    .search-box input {
        width: 200px;
        height: 40px;
        border-radius: 20px;
    }
    #rectangle-menu {
        position: relative;
        top: -10px;
        left: -10px;
    }
    .mcode-list {
        width: 100%;
        position: absolute;
        display: block;
        flex: auto;
        top: 40px;
        z-index: 1;
        padding: 0px;
        opacity: 0;
    }
    .mcode-list li {
        border-bottom: 1px solid #fed03d;
        display: grid;
        position: relative;
        height: 40px;
        text-align: center;
        padding: 0px;
        align-items: center;
        background-color: #000;
        color: #fed03d;
    }
    .mcode-list li:hover {
        background-color: #fed03d;
        color: #000;
    }
    .top-banner {
        top: -15px;
    }
    .top-banner-button {
        top: -35px;
    }
    .web-map {
        display: grid;
    }
    .web-map li {
        margin: 0 auto;
        line-height: 10px;
        padding-left: 0px;
        margin-bottom: 10px
    }
    .web-map li i {
        display: grid;
    }
    .useful-links {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .useful-links ul ul > li {
        display: block;
        padding: 0;
        float: none;
        margin-left: 0px;
    }
    .useful-links ul > li {
        padding-right: 0px;
        text-align: center;
    }
    .useful-links ul {
        display: grid;
        margin-top: 10px;
    }
}